#square {
	width: 200px;
	height: 200px;
	background-color: red;
	cursor: pointer;
}



/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*----------------------------------*/
/* Clearfix for floats              */
/*----------------------------------*/
.cf:before,
.cf:after {
   content:"";
   display:table;
}
.cf:after {
   clear:both;
}
.cf {
   zoom:1; /* For IE 6/7 (trigger hasLayout) */
}